# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
s1=pd.Series(np.random.randint(1,high=5,size=100,dtype="int"))
s2=pd.Series(np.random.randint(1,high=4,size=100,dtype="int"))
s3=pd.Series(np.random.randint(10000,high=30001,size=100,dtype="int"))
print(s1, s2, s3)

0     4
1     3
2     3
3     2
4     3
     ..
95    2
96    4
97    4
98    3
99    2
Length: 100, dtype: int32 0     3
1     1
2     3
3     2
4     3
     ..
95    1
96    2
97    2
98    2
99    2
Length: 100, dtype: int32 0     14623
1     20412
2     21743
3     23049
4     21631
      ...
95    19143
96    15552
97    27312
98    14211
99    21959
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [9]:
df = pd.concat([s1,s2,s3], axis=1)
print(df.head())

   0  1      2
0  4  3  14623
1  3  1  20412
2  3  3  21743
3  2  2  23049
4  3  3  21631

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [11]:
df.rename(columns={0:'col1',1:'col2',2:'col3'},inplace=True)
df.head()

   col1  col2   col3
0     4     3  14623
1     3     1  20412
2     3     3  21743
3     2     2  23049
4     3     3  21631

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [13]:
bigcolumn=pd.concat([s1,s2,s3],axis=0)
print(type(bigcolumn.to_frame()))
bigcolumn

<class 'pandas.core.frame.DataFrame'>

0         4
1         3
2         3
3         2
4         3
      ...
95    19143
96    15552
97    27312
98    14211
99    21959
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [14]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [15]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

0          4
1          3
2          3
3          2
4          3
       ...
295    19143
296    15552
297    27312
298    14211
299    21959
Length: 300, dtype: int32